<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="TestTaxiDriverDbConnection"
        connectionString="Data Source=(localdb)\MSSQLLocalDB;   
                          AttachDbFilename=|DataDirectory|\TestDB\TestTaxiDriverDB.mdf;
                          Integrated Security=True;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>