<div class="modal" [class.is-active]="isActive">
  <!--background-->
  <div class="modal-background" (click)="closeModal()"></div>
  <!--card-->
  <div class="modal-card">
    <!--header-->
    <header class="modal-card-head has-background-primary">
      <p class="modal-card-title has-text-white has-text-centered is-marginless">Create album</p>
      <button (click)="closeModal()" class="delete" aria-label="close"></button>
    </header>

    <!--body-->
    <section class="modal-card-body has-text-centered">
      <h3 class="title is-4">Enter album name</h3>
      <div class="field">
        <div class="control">
          <input
            #name="ngModel"
            name="name"
            class="input is-primary"
            [class.is-danger]="name.invalid && name.dirty"
            type="text"
            placeholder="Album name goes here..."
            [(ngModel)]="albumName"
            required
          />
        </div>
      </div>
    </section>
    <!--footer-->
    <footer class="modal-card-foot">
      <div class="is-width-100 buttons is-right">
        <button class="button is-primary" (click)="createAlbum()" [disabled]="name.invalid">
          Create
        </button>
        <button class="button" (click)="closeModal()">Cancel</button>
      </div>
    </footer>
  </div>
</div>
