<div class="columns">
  <!--dropdown-->
  <div class="column">
    <div class="dropdown">
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true">
            <span>Options</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>

        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <span class="dropdown-item" (click)="downloadSelectedPhotos()">
              Download
            </span>
            <hr class="dropdown-divider" />
            <span class="dropdown-item is-size-6 has-text-danger has-text-weight-bold" (click)="deleteSelected()">
              Delete
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--upload-->
  <div class="column">
    <div class="buttons is-right">
      <button
        class="button is-tooltip-primary is-tooltip-bottom tooltip"
        data-tooltip="Add photos"
        (click)="addPhotos()"
      >
        <span class="icon is-small">
          <i class="far fa-images"></i>
        </span>
      </button>
    </div>
  </div>
</div>
