<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--LINK-->
    <link rel="icon" type="image/x-icon" href="~/images/ico/main.ico" />
    <!--LIBS-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/ico/libs/fontawesome/fontawesome.min.css" type="text/css" rel="stylesheet" />
    <link href="~/js/libs/ohsnap/index.css" type="text/css" rel="stylesheet" />

    <!--CUSTOM-->
    <link href="~/css/Resident/index.css" rel="stylesheet" />
</head>

<body>
    <!--NOTIFICATION-->
    <div id="ohsnap"></div>

    <!--NAVIGATION-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!--left-->
        <a class="navbar-brand" asp-controller="Apartments" asp-action="Index">The Architects</a>
        <ul class="navbar-nav">
            <li class="nav-item" is-active-route asp-controller="Apartments" asp-action="Index">
                <a class="nav-link" asp-controller="Apartments" asp-action="Index">Home</a>
            </li>
            <li class="nav-item" is-active-route asp-controller="Apartments" asp-action="List">
                <a class="nav-link" asp-controller="Apartments" asp-action="List">Apartments</a>
            </li>
            <li class="nav-item" is-active-route asp-controller="Apartments" asp-action="MyRent">
                <a class="nav-link" asp-controller="Apartments" asp-action="MyRent">My rent</a>
            </li>
            <li class="nav-item" is-active-route asp-controller="Requests" asp-action="List">
                <a class="nav-link" asp-controller="Requests" asp-action="List">Requests</a>
            </li>
            <li class="nav-item" is-active-route asp-controller="Bills" asp-action="List">
                <a class="nav-link" asp-controller="Bills" asp-action="List">Bills (@await Component.InvokeAsync("BillsCount"))</a>
            </li>
        </ul>

        <!--right-->
        <ul class="navbar-nav ml-auto">
            <li class="alert alert-dark mb-0 notification-btn">
                <i class="fas fa-bell"></i><a class="alert-link pl-1" asp-controller="Notifications" asp-action="List">Notifications (@await Component.InvokeAsync("NotificationsCount"))</a>
            </li>

            <li class="nav-item m-auto">
                <a class="nav-link" asp-controller="Home" asp-action="Logout" asp-area="">Log out</a>
            </li>
        </ul>
    </nav>


    <!--CONTAINER-->
    <div class="container-fluid pl-0 pr-0">
        <!--CONTENT-->
        <div class="content container p-3">
            @RenderBody()
        </div>
    </div>

    <!--FOOTER-->
    <div class="footer">
        <div class="row">
            <div class="col-sm-3">
                <h5>About us</h5>
                <hr/>
                <a asp-controller="Site" asp-action="About">About us</a>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh
                    euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.
                </p>
            </div>
            <div class="col-sm-3">
                <h5>Info</h5>
                <hr>
                <a asp-controller="Site" asp-action="Privacy">Privacy</a>
                <br>
                <a asp-controller="Site" asp-action="Support">Support</a>
            </div>
            <div class="col-sm-3">
                <h5>Contact</h5>
                <hr>
                <a asp-controller="Site" asp-action="Contact">Contact us</a>
                <br>
                <a href="#">Email</a>
                <p>+38(0XX)XX-XX-XXX</p>
            </div>
            <div class="col-sm-3">
                <h5>Connect</h5>
                <hr>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="architects">
            ©Copyright The Architects
        </div>
    </div>


    <!--SCRIPTS-->
    <!--LIBS-->
    <script src="~/js/libs/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/libs/ohsnap/ohsnap.min.js"></script>

    <!--CUSTOM-->
    @RenderSection("Scripts", required: false)

</body>
</html>
