<aside class="menu left-actions-sidebar">
  <nav>
    <ul class="menu-list">
      <li routerLink="/photos" routerLinkActive="active">
        <div class="action-item">
          <span class="icon">
            <i class="fas fa-camera is-size-2"></i>
          </span>
        </div>
      </li>

      <li routerLink="/albums" routerLinkActive="active">
        <div class="action-item">
          <span class="icon">
            <i class="fab fa-leanpub is-size-2"></i>
          </span>
        </div>
      </li>

      <li routerLink="/sharing" routerLinkActive="active">
        <div class="action-item">
          <span class="icon">
            <i class="fas fa-share-alt is-size-2"></i>
          </span>
        </div>
      </li>

      <li routerLink="/bin" routerLinkActive="active">
        <div class="action-item">
          <span class="icon">
            <i class="fas fa-trash-alt is-size-2"></i>
          </span>
        </div>
      </li>
    </ul>
  </nav>
</aside>
