<!--header-->
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <!--lama image-->
      <div class="card-image has-text-centered">
        <figure class="image is-128x128 is-inline-block">
          <img src="assets/background/lama.png" />
        </figure>
      </div>
      <br />
      <br />
      <!--header-->
      <div class="title">
        Lama
      </div>
      <!--animated text-->
      <div #animatedText>
        <h1 class="subtitle is-4">
          <span>Look At My Awesome Photos</span>
        </h1>
      </div>
      <br />
      <!--login-->
      <app-login></app-login>
    </div>
  </div>

  <img src="assets/background/many-photos.jpg" />
</section>

<!--features-->
<section class="hero is-light">
  <div class="hero-body has-text-centered">
    <div class="container">
      <span class="icon is-size-2">
        <i class="fas fa-cloud"></i>
      </span>
      <h1 class="title">
        We've got your backup
      </h1>
      <h2 class="subtitle">
        Back up unlimited photos and videos for free, up to 16MP and 1080p HD. Access them from any phone, tablet, or
        computer on photos.google.com – your photos will be safe, secure, and always with you
      </h2>
      <img src="assets/background/devices-family.png" />
    </div>
  </div>
</section>

<section class="hero is-primary">
  <div class="hero-body has-text-centered">
    <div class="container">
      <span class="icon is-size-2">
        <i class="fas fa-search"></i>
      </span>
      <h1 class="title">
        Find your photos faster
      </h1>
      <h2 class="subtitle">
        Your photos are organized and searchable by the places and things in them – no tagging required. Just search
        'dog' to find all the photos of your pup
      </h2>
      <img src="assets/background/search.png" />
    </div>
  </div>
</section>

<section class="hero is-info has-text-centered">
  <div class="hero-body">
    <div class="container">
      <span class="icon is-size-2">
        <i class="fas fa-rocket"></i>
      </span>
      <h1 class="title">Make room for more memories</h1>
      <h2 class="subtitle">
        Never worry about running out of space on your phone again. Photos that are safely backed up can be removed from
        your device’s storage in just a tap
      </h2>
    </div>
  </div>

  <div class="hero-foot is-flex is-justify-centered">
    <img src="assets/background/management.png" />
  </div>
</section>

<section class="hero is-warning is-bold">
  <div class="hero-body has-text-centered">
    <div class="container">
      <span class="icon is-size-2">
        <i class="fas fa-users"></i>
      </span>
      <h1 class="title">Everyone's photos, together at last</h1>
      <h2 class="subtitle">
        Pool photos with friends and family using shared albums. So you never miss a moment, no matter what device
        everyone has
      </h2>
    </div>
    <br />

    <div class="container">
      <div class="columns has-text-centered is-variable is-2">
        <div class="column">
          <img src="assets/background/tile-1.png" />
        </div>
        <div class="column">
          <img src="assets/background/tile-2.png" />
        </div>
        <div class="column">
          <img src="assets/background/tile-3.png" />
        </div>
        <div class="column">
          <img src="assets/background/tile-4.png" />
        </div>
      </div>

      <div class="columns has-text-centered is-variable is-2">
        <div class="column">
          <img src="assets/background/tile-5.png" />
        </div>
        <div class="column">
          <img src="assets/background/tile-6.png" />
        </div>
        <div class="column">
          <img src="assets/background/tile-7.png" />
        </div>
        <div class="column">
          <img src="assets/background/tile-8.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<!--footer-->
<section class="hero">
  <div class="hero-body has-text-centered">
    <!--animated text-->
    <h1 class="subtitle is-4">
      <span>Get the photos app that's as smart as you</span>
    </h1>
    <br />
    <!--login-->
    <app-login></app-login>
  </div>
</section>

<section class="hero is-light">
  <div class="hero-body has-text-centered">
    <span class="icon is-large"> <i class="fas fa-copyright"></i>Copyright </span>
  </div>
</section>
