<div *ngIf="isLoading$ | async as loadedContent">
  <app-deleted-photos-buttons
    *ngIf="loadedContent === 'Display Content'"
    [selectedPhotosAmount]="selectedPhotosAmount$ | async"
    (deleteSelectedPhotosEvent)="deleteSelectedPhotos()"
    (restoreSelectedPhotosEvent)="restoreSelectedPhotos()"
  ></app-deleted-photos-buttons>
</div>

<br />

<div *appIsLoading="isLoading$ | async">
  <app-deleted-photos-grid
    [deletedPhotos]="deletedPhotos$ | async"
    [selectedPhotosIds]="selectedPhotosIds$ | async"
    (selectPhotoEvent)="selectPhoto($event)"
  ></app-deleted-photos-grid>
</div>
