@charset "utf-8";
/* CSS Document */
/*фон*/
* {
	  outline:none;
}
html,body {
  height: 100%;
  overflow:  hidden; 
  background:url(background.jpg);
  background-size:cover;
  background-position-y: -230px;
  background-repeat:no-repeat;
  background-color:#000;
}
/*кнопки*/
.main-css,.history-css,.member-css,.albums-css,.galery-css,.piano-css {
  box-sizing: content-box;
  cursor: pointer;
  padding: 5px 25px 25px 25px;
  border: none;
  height:60px;
  font: normal 26px sans-serif;
  color: white;
  border-top: 3px solid rgba(255,255,255,0);
  text-overflow: clip;  
  transition: 200ms;
  animation:exit 1s;
}
/*головна*/
.main-css {
  width: 180px;
  background: linear-gradient(90deg, rgb(197,94, 15) 0 , #A27440 100%);
}
/*історія*/
.history-css {
  width: 184px;
  background: linear-gradient(270deg, #426E3B 0, #A27440 52%, #A27440 100%);
}
/*склад*/
.member-css {
  width: 150px;
  background: linear-gradient(90deg, #426E3B 80%, #2F5A84 100%);
}
/*альбоми*/
.albums-css {
  width: 180px;
  background: linear-gradient(90deg, #2F5A84 0, #2F5A84 1%, #2F5A84 100%);
}
/*галерея*/
.galery-css {
  width: 180px;
  background: linear-gradient(90deg, #2F5A84 0, #2F5A84 1%, #993A64 24%, #993A64 100%);
}
/*піаніно*/
.piano-css {
  width: 195px;
  background: linear-gradient(90deg, #993A64 0, #7a123d 69%, #7a123d 100%);
}
/*кнопки при наведенні*/
.main-css:hover , .history-css:hover, .member-css:hover, .albums-css:hover ,.galery-css:hover,.piano-css:hover {
  color:#e20b5d;
  border-top: 3px solid #e20b5d;
  transform:   translateY(15px) ;
}
/*активні кнопки*/
.main-css:active,.history-css:active ,.member-css:active,.albums-css:active,.galery-css:active,.piano-css:active {
  border: none;
  transition: 50ms;
  transform: none;
}
/*меню*/
ul.hr, li.menu {
	width:100%;
    display: inline;
	margin: -2px;
  	padding: 0px;	
}
/*розміщення меню*/
.footer {
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 100%;
	height: 80px; 
}
/*інформація зверху*/
p
{
	 font-size:12px;
	 color:#CCCCCC;
	 margin:0px;
	 font-family:"Times New Roman", Times, serif;
}
a
{
	color:inherit;
	text-decoration:none;
}
a:hover
{
	color:#e20b5d;
}
.bass:hover
{
	color:#00C;
}
.a:hover
{
	color:#0C0;
}
/*спойлери*/
.jl:hover
{
	color:#093;
}
.gh:hover
{
	color:#996600;
}
.pm:hover
{
	color:#000099;
}
.rs:hover
{
	color:#903;
}
p.jl:active,p.gh:active,p.pm:active,p.rs:active
{
	font-size:24px;
}
.name
{
	position:absolute;
	left:150px;
	top:350px;
	text-align:center;
}
.description
{
	text-align:left;
	font-family: 'Oranienbaum', serif;
	text-indent: 25px;
	font-size:13px;
}
p.name2
{
	font-size:25px;
	color:#CCCCCC;
	cursor:pointer;
	font-family: 'Lobster', cursive;
	margin-bottom:5px;
}
.spoiler_open {
     margin-left:15px;
     height: 33px;
     width: 240px;
     outline: none;
     float: left;
     position: relative;
     overflow: hidden;
     -webkit-transition: height 0.3s ease;
     -moz-transition: height 0.3s ease;
     -o-transition: height 0.3s ease;
     transition: height 0.3s ease;
}
.spoiler_open:focus { 
	height: 210px;
}
/* анімації появи */
@keyframes exit{
	from
	{
		  transform:   translateY(80px) ;
	}
	to
	{
		  transform:   none ;
	}
}